---
services:
  obsidian:
    image: lscr.io/linuxserver/obsidian:latest
    container_name: obsidian
    security_opt:
      - seccomp:unconfined #optional
    environment:
      - PUID=1000
      - PGID=1000
      - TZ=Etc/UTC
      - PASSWORD=xxxxxxxxx
    volumes:
      - ./config:/config
    ports:
      - 4000:3000
      - 4001:3001
    shm_size: "1gb"
    restart: unless-stopped
